//这里展示units表的全部记录的视图
extends ../layout

block content
  script(src='/javascripts/slidePager.js')
  include ../header.jade
  #units_index.container
    .row
      .col-md-11.col-md-offset-1
        include ../messages.jade
        h2 浏览行政单元
        p 
          a(href="/units/new?role=stu" target="_blank") 创建学生单元 | 
          a(href="/units/new?role=tea" target="_blank") 创建教职工单元
        table.table.table-striped.table-hover
          tr
            td 单元编码
            td 单元名称
            td 审核状态
            td 基本角色
            td(colspan="3")
          each unit in units
            tr
              td(class="code")= unit.htcode
              td= unit.name
              td(class="status-role")= (unit.status)? '已启用' : '已禁用'
              td(class="status-role")= unit.role
              td(class="link") 
                a(href="./units/#{unit.id}/edit") 编辑
              td(class="link")
                form(method="POST" action="/units/#{unit.id}?_method=DELETE")
                  button(class="delete" type="submit") 删除
                  //a(class="delete" href="./units/#{unit.id}?_method=DELETE") 删除
              td(class="link")
                a(href="./units/#{unit.id}") 详细
    .row
      .col-lg-3.page-num
        .input-group
          span.input-group-btn
            button(class="btn btn-default" type="button" id="pageOK") Go
          input(type="text" class="form-control" id="pnum" value="#{curPage}")
          span.input-group-addon(id="total") / #{total}
      .col-lg-8.unit-pager
        !{pagesHTML}  