extends ../layout
block content
  script(src='/units_student.js')
  script(src='/javascripts/users/newStu.js')

  include ../header.jade
  #users_new.container  
    .panel.panel-primary
      .panel-heading
        h3.panel-title.text-center #{caption}
      .panel-body
        form#addUserForm.form-horizontal(method='post', action='/users')
          include ../messages.jade
          input(id="unit-code" type="hidden" name="htcode" value="#{user.htcode}") 
          .form-group.form-group-lg
            .input-group
              span.input-group-addon #{labNumid}
              input#numid.form-control(type='text', name="numid" placeholder='请输入您的学号' value="#{user.numid}")
          .form-group.form-group-lg
            .input-group
              span.input-group-addon 您的姓名
              input#name.form-control(type='text', name="name" placeholder='请输入您的真实姓名' value="#{user.name}")
          .form-group.form-group-lg
            .input-group
              span.input-group-addon 您的密码
              input#pass.form-control(type='password', name="pass" placeholder='请输入密码' value="#{user.pass}")
          .form-group.form-group-lg
            .input-group
              span.input-group-addon 密码确认
              input#repass.form-control(type='password', name="repass" placeholder='请再次输入密码' value="#{user.repass}")
          .form-group.form-group-lg
            p.form-control-static.bg-info 请选择您现在所属的班级信息
            if role == 'stu'
              select#college.form-control(data="#{user.collegeCode}")
            else
              select#institutions.form-control
            if role == 'stu'
              select#grade.form-control(data="#{user.gradeCode}")
            else
              select#departments.form-control
            if role == 'stu'
              select#major.form-control(data="#{user.majorCode}")
            else
              select#divsion.form-control
            if role == 'stu'
              select#stuclass.form-control(data="#{user.stuclassCode}")
          .form-group
            .btnok
              input.button.button-glow.button-border.button-rounded.button-primary(type='submit' value="提交")