extends ../layout

block content
  script(src='/javascripts/shared/slidePager.js')

  include ../header.jade
  #unittea_index.container
    include ../messages.jade
    .row
      h2 浏览教职工单元
      p 
        a(href="/unitteas/new") 创建教职工单元
      table.table.table-striped.table-hover
        tr
          td 单元编码
          td 单元名称
          td 启用状态
          td(colspan="3")
        each unit in units
          tr
            td(class="code")= unit.htcode
            td= unit.name
            td(class="status-role")= (unit.status)? '已启用' : '已禁用'
            td(class="link")
              a(class="edit btn" href="./unitteas/#{unit.id}/edit")
                span(class="glyphicon glyphicon-pencil")
            td(class="link")
              form(method="POST" action="/unitteas/#{unit.id}?_method=DELETE")
                button(class="delete btn" type="submit") 
                  span(class="glyphicon glyphicon-trash" aria-hidden="true")
            td(class="link")
              a(href="./unitteas/#{unit.id}" class="show btn") 
                span(class="glyphicon glyphicon-list-alt")
    .row
      .col-lg-3.page-num
        .input-group
          span.input-group-btn
            button(class="btn btn-default" type="button" id="pageOK") Go
          input(type="text" class="form-control" id="pnum" value="#{curPage}")
          span.input-group-addon(id="total") / #{total}
      .col-lg-8.unit-pager
        !{pagesHTML}  