//显示单条unit的完整记录的视图units_show.jade
extends ../layout

block content
  include ../header.jade
  #unitstu_show.container
    .panel.panel-info.container
      .panel-heading
        h3 学生单元详细信息
      .panel-body
        include ../messages.jade
        table.table.table-striped.table-hover
          tr
            td(class="left") 单元编码
            td= unit.htcode
          tr
            td(class="left") 单元名称
            td= unit.name
          tr
            td(class="left") 启用状态
            td= (unit.status)? '已启用' : '已禁用'
          tr
            td(class="left") 创建时间
            td= unit.createdTime
          tr
            td(class="left") 更新时间
            td= unit.updatedTime
      .panel-footer
        a(title="显示全部",href="/unitstus")
          button.button.button-large.button-primary.button-border.button-circle
            i.fa.fa-reply
        a.pull-right(title="编辑",href="/unitstus/#{unit.id}/edit")
          button.button.button-large.button-primary.button-border.button-circle
            span.glyphicon.glyphicon-pencil